[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
crowdfunding = "2ghvWvTvMHdACLuGztbjERbvMPwwQcFTag6a6eU7RifY"
property_dividends = "78JohfdVhYCV6EPfC3baRkNoWUA5yDmw5HXkroeiSpCP"
marketplace = "9wprAAKPfNu9MLzCWMh63F35fJZrmk49G45nsSpfmbEd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
